<%- include('partials/header', null, {root: basedir}) %>

<div class="dashboard-header">
    <h2>Server Management</h2>
    <p>Select a server to manage or invite the bot to a new server.</p>
</div>

<div class="server-list">
    <% if (guilds && guilds.length > 0) { %>
        <% guilds.forEach(guild => { %>
            <div class="server-card">
                <div class="server-icon">
                    <% if (guild.icon) { %>
                        <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="<%= guild.name %>">
                    <% } else { %>
                        <div class="default-icon"><%= guild.name.charAt(0) %></div>
                    <% } %>
                </div>
                <div class="server-info">
                    <h3><%= guild.name %></h3>
                    <p><%= guild.botIn ? 'Bot is in this server' : 'Bot is not in this server' %></p>
                </div>
                <div class="server-actions">
                    <% if (guild.botIn) { %>
                        <a href="/dashboard/server/<%= guild.id %>" class="btn btn-primary">Manage</a>
                    <% } else { %>
                        <a href="<%= guild.inviteUrl %>" class="btn btn-secondary" target="_blank">Add Bot</a>
                    <% } %>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <div class="no-servers">
            <p>You don't have any servers where you have administrator permissions.</p>
            <a href="https://discord.com/api/oauth2/authorize?client_id=<%= clientId %>&permissions=8&scope=bot%20applications.commands" class="btn btn-primary" target="_blank">
                <i class="fas fa-plus-circle"></i> Add Bot to Server
            </a>
        </div>
    <% } %>
</div>

<%- include('partials/footer', null, {root: basedir}) %>
